.u-section-1 {background-image: url("images/21.jpg"); min-height: 902px}
.u-section-1 .u-text-1 {font-weight: 700; letter-spacing: 0; text-transform: none; font-size: 2.25rem; margin: 566px calc(((100% - 1140px) / 2) + 152px) 0}
.u-section-1 .u-text-2 {margin: 20px 244px 0}
.u-section-1 .u-btn-1 {background-image: none; text-transform: uppercase; letter-spacing: 0; border-style: none; font-weight: 700; margin: 30px auto 60px; padding: 10px 63px 10px 62px} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%; min-height: 744px}
.u-section-1 .u-text-1 {width: 812px; margin-top: 430px; margin-left: calc(((100% - 940px) / 2) + 152px); margin-right: calc(((100% - 940px) / 2) + 152px)}
.u-section-1 .u-text-2 {width: 812px} }

@media (max-width: 991px){ .u-section-1 {min-height: 570px}
.u-section-1 .u-text-1 {width: 720px; margin-left: calc(((100% - 720px) / 2)); margin-right: calc(((100% - 720px) / 2))}
.u-section-1 .u-text-2 {width: 720px; margin-left: calc(((100% - 720px) / 2)); margin-right: calc(((100% - 720px) / 2))} }

@media (max-width: 767px){ .u-section-1 {min-height: 428px}
.u-section-1 .u-text-1 {width: 540px; margin-left: calc(((100% - 540px) / 2)); margin-right: calc(((100% - 540px) / 2))}
.u-section-1 .u-text-2 {width: 540px; margin-left: calc(((100% - 540px) / 2)); margin-right: calc(((100% - 540px) / 2))} }

@media (max-width: 575px){ .u-section-1 {min-height: 748px}
.u-section-1 .u-text-1 {font-size: 1.5rem; width: 340px; margin-top: 444px; margin-left: auto; margin-right: auto}
.u-section-1 .u-text-2 {width: auto; margin-top: 34px; margin-right: calc(((100% - 340px) / 2) + -7px); margin-left: calc(((100% - 340px) / 2) + 7px)}
.u-section-1 .u-btn-1 {margin-top: 20px; margin-bottom: 50px; margin-left: calc(((100% - 340px) / 2) + 61px)} }.u-section-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/31.jpg"); margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 616px}
.u-section-2 .u-text-1 {font-size: 3.75rem; font-weight: 700; margin: 20px 374px 0 0}
.u-section-2 .u-text-2 {line-height: 2; font-size: 1.125rem; margin: 330px -92px 20px 354px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 508px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 704px}
.u-section-2 .u-text-1 {width: auto; margin-right: 159px}
.u-section-2 .u-text-2 {width: auto; margin-left: 89px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 528px}
.u-section-2 .u-text-1 {margin-right: 0}
.u-section-2 .u-text-2 {margin-left: 0} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 332px}
.u-section-2 .u-text-1 {font-size: 3rem} }.u-section-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/123.jpg")}
.u-section-3 .u-sheet-1 {min-height: 807px}
.u-section-3 .u-list-1 {min-height: 607px; grid-template-columns: repeat(3, 33.3333%); grid-template-rows: repeat(1, auto); width: 1120px; grid-gap: 10px; margin: 60px auto 60px 0}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-image-1 {height: 347px; margin: 0 auto 0 0}
.u-section-3 .u-text-1 {font-weight: 700; letter-spacing: 0; font-size: 2.25rem; text-transform: none; margin: 20px auto 0 0}
.u-section-3 .u-text-2 {margin: 20px auto 0 0}
.u-section-3 .u-btn-1 {text-transform: uppercase; font-weight: 700; background-image: none; border-style: none; margin: 13px auto 0}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-image-2 {height: 347px; margin: 0 auto 0 0}
.u-section-3 .u-text-3 {font-weight: 700; letter-spacing: 0; font-size: 2.25rem; text-transform: none; margin: 20px auto 0 0}
.u-section-3 .u-text-4 {margin: 20px auto 0 0}
.u-section-3 .u-btn-2 {text-transform: uppercase; font-weight: 700; background-image: none; border-style: none; margin: 13px auto 0}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-image-3 {height: 347px; object-position: 50% 0.9%; margin: 0 auto 0 0}
.u-section-3 .u-text-5 {font-weight: 700; letter-spacing: 0; font-size: 2.25rem; text-transform: none; margin: 20px auto 0 0}
.u-section-3 .u-text-6 {margin: 20px auto 0 0}
.u-section-3 .u-btn-3 {text-transform: uppercase; font-weight: 700; background-image: none; border-style: none; margin: 13px auto 0} 

@media (max-width: 1199px){ .u-section-3 {background-position: 50% 50%}
.u-section-3 .u-sheet-1 {min-height: 559px}
.u-section-3 .u-list-1 {min-height: 501px; grid-template-columns: repeat(3, 33.333333333333336%); width: 940px}
.u-section-3 .u-image-1 {height: 281px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-2 {height: 281px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-3 {height: 281px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 1209px}
.u-section-3 .u-list-1 {min-height: 1151px; grid-template-columns: repeat(2, 50%); width: 720px}
.u-section-3 .u-image-1 {height: 333px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-2 {height: 333px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-3 {height: 333px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-3 .u-list-1 {grid-template-columns: 100%; width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-1 {height: 577px; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-2 {height: 577px; margin-right: initial; margin-left: initial}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-image-3 {height: 577px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-3 .u-list-1 {width: 340px}
.u-section-3 .u-image-1 {height: 355px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-2 {height: 355px; margin-right: initial; margin-left: initial}
.u-section-3 .u-image-3 {height: 355px; margin-right: initial; margin-left: initial} }.u-section-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/4441.jpg"); background-position: 50% 50%}
.u-section-4 .u-sheet-1 {min-height: 711px}
.u-section-4 .u-text-1 {font-weight: 700; font-size: 3.75rem; margin: 60px 397px 0 0}
.u-section-4 .u-list-1 {width: 888px; min-height: 487px; grid-template-columns: repeat(1, 100%); grid-gap: 20px; margin: 32px 0 60px auto}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-icon-1 {height: 64px; width: 64px; margin: 0 auto 0 0}
.u-section-4 .u-text-2 {font-weight: 700; font-size: 2.25rem; margin: -64px auto 0 94px}
.u-section-4 .u-text-3 {font-size: 1.125rem; margin: 20px auto 0 94px}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-icon-2 {height: 64px; width: 64px; margin: 0 auto 0 0}
.u-section-4 .u-text-4 {font-weight: 700; font-size: 2.25rem; margin: -64px auto 0 94px}
.u-section-4 .u-text-5 {font-size: 1.125rem; margin: 20px auto 0 94px}
.u-section-4 .u-container-layout-3 {padding: 30px}
.u-section-4 .u-icon-3 {height: 64px; width: 64px; margin: 0 auto 0 0}
.u-section-4 .u-text-6 {font-weight: 700; font-size: 2.25rem; margin: -64px auto 0 94px}
.u-section-4 .u-text-7 {font-size: 1.125rem; margin: 20px auto 0 94px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 717px}
.u-section-4 .u-text-1 {width: auto; margin-right: 205px}
.u-section-4 .u-list-1 {width: 713px; min-height: 493px; grid-template-columns: 100%; height: auto} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 789px}
.u-section-4 .u-text-1 {margin-right: 184px}
.u-section-4 .u-list-1 {width: 618px; min-height: 521px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 592px}
.u-section-4 .u-text-1 {margin-right: 4px}
.u-section-4 .u-list-1 {width: 540px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 914px}
.u-section-4 .u-text-1 {font-size: 3rem; margin-right: 0}
.u-section-4 .u-list-1 {width: 340px; margin-right: auto; margin-left: 0} }.u-section-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/444.jpg"); background-position: 50% 50%}
.u-section-5 .u-sheet-1 {min-height: 277px}
.u-section-5 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-5 .u-layout-cell-1 {min-height: 232px}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-icon-1 {height: 115px; width: 115px; margin: 25px auto 0}
.u-section-5 .u-text-1 {font-size: 3.75rem; font-weight: 700; margin: -95px 30px 0}
.u-section-5 .u-text-2 {width: 207px; font-size: 1.125rem; font-style: normal; margin: 50px auto 25px}
.u-section-5 .u-layout-cell-2 {min-height: 232px; background-position: 0% 0%}
.u-section-5 .u-container-layout-2 {padding: 30px}
.u-section-5 .u-icon-2 {height: 115px; width: 115px; margin: 25px auto 0}
.u-section-5 .u-text-3 {font-size: 3.75rem; font-weight: 700; margin: -95px 30px 0}
.u-section-5 .u-text-4 {font-size: 1.125rem; font-style: normal; margin: 50px 9px 0}
.u-section-5 .u-layout-cell-3 {min-height: 232px; background-position: 0% 0%}
.u-section-5 .u-container-layout-3 {padding: 30px}
.u-section-5 .u-icon-3 {height: 115px; width: 115px; margin: 25px auto 0}
.u-section-5 .u-text-5 {font-size: 3.75rem; font-weight: 700; margin: -95px 30px 0}
.u-section-5 .u-text-6 {width: 207px; font-size: 1.125rem; font-style: normal; margin: 50px auto 25px}
.u-section-5 .u-layout-cell-4 {min-height: 232px; background-position: 0% 0%}
.u-section-5 .u-container-layout-4 {padding: 30px}
.u-section-5 .u-icon-4 {height: 115px; width: 115px; margin: 25px auto 0}
.u-section-5 .u-text-7 {font-size: 3.75rem; font-weight: 700; margin: -95px 30px 0}
.u-section-5 .u-text-8 {width: 207px; font-size: 1.125rem; font-style: normal; margin: 50px auto 25px} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 191px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-icon-1 {position: relative}
.u-section-5 .u-text-1 {margin-left: 25px; margin-right: 25px}
.u-section-5 .u-text-2 {position: relative; width: 171px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-icon-2 {position: relative}
.u-section-5 .u-text-3 {margin-left: 25px; margin-right: 25px}
.u-section-5 .u-text-4 {position: relative; width: 171px}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-icon-3 {position: relative}
.u-section-5 .u-text-5 {margin-left: 25px; margin-right: 25px}
.u-section-5 .u-text-6 {position: relative; width: 171px}
.u-section-5 .u-layout-cell-4 {min-height: 100px}
.u-section-5 .u-icon-4 {position: relative}
.u-section-5 .u-text-7 {margin-left: 25px; margin-right: 25px}
.u-section-5 .u-text-8 {position: relative; width: 171px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 146px}
.u-section-5 .u-text-1 {margin-left: 19px; margin-right: 19px}
.u-section-5 .u-text-2 {width: 131px}
.u-section-5 .u-icon-2 {margin-left: 93px}
.u-section-5 .u-text-3 {margin-left: 19px; margin-right: 19px}
.u-section-5 .u-text-4 {width: 131px; margin-left: auto; margin-right: auto}
.u-section-5 .u-text-5 {margin-left: 19px; margin-right: 19px}
.u-section-5 .u-text-6 {width: 131px}
.u-section-5 .u-text-7 {margin-left: 19px; margin-right: 19px}
.u-section-5 .u-text-8 {width: 131px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 100px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-1 {margin-left: 14px; margin-right: 14px}
.u-section-5 .u-text-2 {width: 123px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-icon-2 {margin-top: 22px; margin-left: auto}
.u-section-5 .u-text-3 {margin-top: -92px; margin-left: 14px; margin-right: 14px}
.u-section-5 .u-text-4 {width: 123px}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-5 {margin-left: 14px; margin-right: 14px}
.u-section-5 .u-text-6 {width: 123px}
.u-section-5 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-text-7 {margin-left: 14px; margin-right: 14px}
.u-section-5 .u-text-8 {width: 123px} }

@media (max-width: 575px){ .u-section-5 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-5 .u-icon-2 {position: relative}
.u-section-5 .u-text-3 {margin-left: 9px; margin-right: 9px}
.u-section-5 .u-text-5 {margin-left: 9px; margin-right: 9px}
.u-section-5 .u-text-7 {margin-left: 9px; margin-right: 9px} }.u-section-6 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/11.jpg")}
.u-section-6 .u-sheet-1 {min-height: 563px}
.u-section-6 .u-slider-1 {margin-top: 63px; margin-bottom: 60px; min-height: 438px}
.u-section-6 .u-carousel-indicators-1 {position: absolute; bottom: 10px}
.u-section-6 .u-container-layout-1 {padding: 30px 130px}
.u-section-6 .u-image-1 {width: 292px; height: 292px; background-image: url("images/pp.jpg"); background-position: 50% 50%; margin: 37px auto 0 0}
.u-section-6 .u-text-1 {font-size: 2.25rem; margin: -268px 0 0 347px}
.u-section-6 .u-text-2 {line-height: 2; font-size: 1.125rem; margin: 20px 0 0 347px}
.u-section-6 .u-btn-1 {background-image: none; text-transform: uppercase; letter-spacing: 0; border-style: none; font-weight: 700; margin: 49px 314px 0 auto; padding: 10px 63px 10px 62px}
.u-section-6 .u-container-layout-2 {padding: 30px 130px}
.u-section-6 .u-image-2 {width: 292px; height: 292px; background-image: url("images/pp.jpg"); background-position: 50% 50%; margin: 43px auto 0 0}
.u-section-6 .u-text-3 {font-size: 2.25rem; margin: -274px 0 0 348px}
.u-section-6 .u-text-4 {line-height: 2; font-size: 1.125rem; margin: 20px 0 0 348px}
.u-section-6 .u-btn-2 {background-image: none; text-transform: uppercase; letter-spacing: 0; border-style: none; font-weight: 700; margin: 45px 313px 19px auto; padding: 10px 63px 10px 62px}
.u-section-6 .u-container-layout-3 {padding: 30px 50px}
.u-section-6 .u-image-3 {width: 292px; height: 292px; background-image: url("images/pp.jpg"); background-position: 50% 50%; margin: 18px auto 0 20px}
.u-section-6 .u-text-5 {font-size: 2.25rem; width: 532px; margin: -292px 160px 0 348px}
.u-section-6 .u-text-6 {line-height: 2; font-size: 1.125rem; width: 532px; margin: 20px 160px 0 348px}
.u-section-6 .u-btn-3 {background-image: none; text-transform: uppercase; letter-spacing: 0; border-style: none; font-weight: 700; margin: 45px 313px 0 auto; padding: 10px 63px 10px 62px}
.u-section-6 .u-container-layout-4 {padding: 30px 50px}
.u-section-6 .u-image-4 {width: 292px; height: 292px; background-image: url("images/pp.jpg"); background-position: 50% 50%; margin: 0 auto 0 45px}
.u-section-6 .u-text-7 {font-size: 2.25rem; width: 532px; margin: -274px 160px 0 348px}
.u-section-6 .u-text-8 {line-height: 2; font-size: 1.125rem; width: 532px; margin: 20px 160px 0 348px}
.u-section-6 .u-btn-4 {background-image: none; text-transform: uppercase; letter-spacing: 0; border-style: none; font-weight: 700; margin: 45px 313px 0 auto; padding: 10px 63px 10px 62px}
.u-section-6 .u-container-layout-5 {padding: 30px 50px}
.u-section-6 .u-image-5 {width: 292px; height: 292px; background-image: url("images/pp.jpg"); background-position: 50% 50%; margin: 0 auto 0 56px}
.u-section-6 .u-text-9 {font-size: 2.25rem; margin: -274px 104px 0 404px}
.u-section-6 .u-text-10 {line-height: 2; font-size: 1.125rem; margin: 18px 124px 0 384px}
.u-section-6 .u-btn-5 {background-image: none; text-transform: uppercase; letter-spacing: 0; border-style: none; font-weight: 700; margin: 47px 313px 0 auto; padding: 10px 63px 10px 62px}
.u-section-6 .u-carousel-control-1 {width: 65px; height: 65px; background-image: none}
.u-section-6 .u-carousel-control-2 {width: 65px; height: 65px; background-image: none} 

@media (max-width: 1199px){ .u-section-6 {background-position: 50% 50%}
.u-section-6 .u-slider-1 {height: auto}
.u-section-6 .u-container-layout-1 {padding-left: 100px; padding-right: 100px}
.u-section-6 .u-image-1 {margin-top: 0}
.u-section-6 .u-text-1 {width: auto; margin-left: 312px}
.u-section-6 .u-text-2 {width: auto; margin-left: 312px}
.u-section-6 .u-btn-1 {margin-top: 20px; margin-right: 209px}
.u-section-6 .u-container-layout-2 {padding-left: 100px; padding-right: 100px}
.u-section-6 .u-image-2 {width: 291px; height: 291px; margin-top: 39px}
.u-section-6 .u-text-3 {width: auto; margin-top: -276px; margin-left: 311px}
.u-section-6 .u-text-4 {width: auto; margin-left: 311px}
.u-section-6 .u-btn-2 {margin-top: 20px; margin-right: 210px; margin-bottom: 0}
.u-section-6 .u-btn-3 {width: 218px; height: 46px; margin-right: 113px}
.u-section-6 .u-btn-4 {width: 218px; height: 46px; margin-right: 113px}
.u-section-6 .u-text-9 {width: 532px}
.u-section-6 .u-text-10 {width: 532px}
.u-section-6 .u-btn-5 {width: 218px; height: 46px; margin-right: 113px}
.u-section-6 .u-carousel-control-2 {left: auto; right: 0; position: absolute} }

@media (max-width: 991px){ .u-section-6 .u-container-layout-1 {padding-left: 85px; padding-right: 85px}
.u-section-6 .u-image-1 {width: 190px; height: 190px; margin-top: 94px}
.u-section-6 .u-text-1 {margin-top: -249px; margin-left: 215px}
.u-section-6 .u-text-2 {margin-left: 215px}
.u-section-6 .u-btn-1 {margin-right: 116px}
.u-section-6 .u-container-layout-2 {padding-left: 85px; padding-right: 85px}
.u-section-6 .u-image-2 {width: 192px; height: 192px; margin-top: 93px; margin-left: -1px}
.u-section-6 .u-text-3 {margin-top: -237px; margin-right: 63px; margin-left: 214px}
.u-section-6 .u-text-4 {margin-left: 214px}
.u-section-6 .u-btn-2 {margin-right: 130px}
.u-section-6 .u-container-layout-3 {padding-left: 30px; padding-right: 30px}
.u-section-6 .u-btn-3 {margin-right: 0}
.u-section-6 .u-container-layout-4 {padding-left: 30px; padding-right: 30px}
.u-section-6 .u-btn-4 {margin-right: 0}
.u-section-6 .u-container-layout-5 {padding-left: 30px; padding-right: 30px}
.u-section-6 .u-btn-5 {margin-right: 0} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 774px}
.u-section-6 .u-slider-1 {margin-top: 60px; min-height: 649px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-1 {margin-top: 0; margin-left: auto}
.u-section-6 .u-text-1 {margin-top: 24px; margin-left: 0; width: auto}
.u-section-6 .u-text-2 {margin-left: 0; width: auto}
.u-section-6 .u-btn-1 {margin-right: auto}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-2 {margin-top: 43px; margin-left: auto}
.u-section-6 .u-text-3 {margin-top: 25px; margin-left: 24px; margin-right: 24px; width: auto}
.u-section-6 .u-text-4 {margin-left: 0; width: auto}
.u-section-6 .u-btn-2 {margin-right: auto}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-9 {margin-right: 34px; margin-left: 334px}
.u-section-6 .u-text-10 {margin-right: 54px; margin-left: 314px} }

@media (max-width: 575px){ .u-section-6 .u-image-1 {width: 333px; height: 333px}
.u-section-6 .u-text-1 {width: auto; font-size: 1.5rem}
.u-section-6 .u-text-2 {width: auto}
.u-section-6 .u-image-2 {width: 326px; height: 326px}
.u-section-6 .u-text-3 {width: auto; font-size: 1.5rem}
.u-section-6 .u-text-4 {width: auto}
.u-section-6 .u-text-5 {font-size: 1.5rem}
.u-section-6 .u-image-4 {margin-left: 28px}
.u-section-6 .u-text-7 {font-size: 1.5rem}
.u-section-6 .u-image-5 {margin-left: 28px}
.u-section-6 .u-text-9 {font-size: 1.5rem; margin-right: 0; margin-left: 168px}
.u-section-6 .u-text-10 {margin-right: 0; margin-left: 168px} }